customer-registration-api/src/main/mule/implementation/customers/queryAllCustomers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="queryAllCustomers" doc:id="fae60961-e4c9-42fa-8860-035d073e321d" >
		<logger level="INFO" doc:name="init_flow" doc:id="a3243300-0351-42dd-95f2-caefa1de73fe" message='#["init flow -&gt; " ++ flow.name]' />
		<flow-ref doc:name="selectCustomersToDatabase" doc:id="97efd650-c2ee-4fa6-8756-8114f8d374d6" name="selectToDatabase"/>
		<ee:transform doc:name="Transform Message" doc:id="52cc6861-c568-43a5-aaf1-7bf7c8d1ab0e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var customersEquals = (payload groupBy $.client_id pluck ((value, key, index) -> (key): value)) map ((item, index) -> item[0])
---
customersEquals map ((customers, i) -> 
    {
        client_id: customers.client_id[0],
        name: customers.name[0],
        lastName: customers.lastname[0],
        phones: customers.phone_number map((phone) -> {
            ddd: ((phone splitBy " ")[0] replace /[^0-9A-Za-z]*/ with "") as Number,
            number: ((phone splitBy " ")[1] replace /[^0-9A-Za-z]*/ with "") as Number
        }),
        address: {
                street: customers.street[0],
                number: customers.number[0],
                district: customers.district[0],
                city: customers.city[0],
                state: customers.state[0],
                postalCode: customers.postal_code[0],
        }
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end_flow" doc:id="38e78a81-08cf-4efd-92ed-3b0d054207bc" message='#["init flow -&gt; " ++ flow.name]'/>
	</flow>
	<flow name="selectToDatabase" doc:id="fedd1b02-db28-4ab1-b846-3b8b319c2a82" >
		<try doc:name="Try" doc:id="b89eeb48-d682-4f09-bddc-68201b280d6e" >
			<db:select doc:name="Select" doc:id="1e498399-bd60-4e0b-bb46-bb6b17ca9f6e" config-ref="Database_Config">
				<db:sql ><![CDATA[SELECT 
	c.client_id,
	c.name,
    c.lastname,
    a.street,
    a."number",
    a.district,
    a.city,
    a.state,
	a.postal_code,    
    p.phone_number
FROM client c, address a, phone p
WHERE c.client_id = a.client_id 
AND	  c.client_id = p.client_id;]]></db:sql>
			</db:select>
		</try>
	</flow>
</mule>
